In [ ]:
# import the pandas module
import pandas as pd

In [ ]:
# load the Google Open Data CSV into memory
data = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/epidemiology.csv")

In [ ]:
# Check for all the unique values in the location_key column
data["location_key"].unique()

array(['AD', 'AE', 'AF', ..., 'ZA_WC_DC5', 'ZM', 'ZW'], dtype=object)

In [ ]:
# create a map of countries and their corresponding country code
country_mapping = {
    'AD': 'Andorra',
    'AE': 'United Arab Emirates',
    'AF': 'Afghanistan',
    'AG': 'Antigua and Barbuda',
    'AI': 'Anguilla',
    'AL': 'Albania',
    'AM': 'Armenia',
    'AO': 'Angola',
    'AQ': 'Antarctica',
    'AR': 'Argentina',
    'AS': 'American Samoa',
    'AT': 'Austria',
    'AU': 'Australia',
    'AW': 'Aruba',
    'AX': 'Åland Islands',
    'AZ': 'Azerbaijan',
    'BA': 'Bosnia and Herzegovina',
    'BB': 'Barbados',
    'BD': 'Bangladesh',
    'BE': 'Belgium',
    'BF': 'Burkina Faso',
    'BG': 'Bulgaria',
    'BH': 'Bahrain',
    'BI': 'Burundi',
    'BJ': 'Benin',
    'BL': 'Saint Barthélemy',
    'BM': 'Bermuda',
    'BN': 'Brunei Darussalam',
    'BO': 'Bolivia (Plurinational State of)',
    'BQ': 'Bonaire, Sint Eustatius and Saba',
    'BR': 'Brazil',
    'BS': 'Bahamas',
    'BT': 'Bhutan',
    'BV': 'Bouvet Island',
    'BW': 'Botswana',
    'BY': 'Belarus',
    'BZ': 'Belize',
    'CA': 'Canada',
    'CC': 'Cocos (Keeling) Islands',
    'CD': 'Congo (Democratic Republic of the)',
    'CF': 'Central African Republic',
    'CG': 'Congo',
    'CH': 'Switzerland',
    'CI': 'Côte d\'Ivoire',
    'CK': 'Cook Islands',
    'CL': 'Chile',
    'CM': 'Cameroon',
    'CN': 'China',
    'CO': 'Colombia',
    'CR': 'Costa Rica',
    'CU': 'Cuba',
    'CV': 'Cabo Verde',
    'CW': 'Curaçao',
    'CX': 'Christmas Island',
    'CY': 'Cyprus',
    'CZ': 'Czech Republic',
    'DE': 'Germany',
    'DJ': 'Djibouti',
    'DK': 'Denmark',
    'DM': 'Dominica',
    'DO': 'Dominican Republic',
    'DZ': 'Algeria',
    'EC': 'Ecuador',
    'EE': 'Estonia',
    'EG': 'Egypt',
    'EH': 'Western Sahara',
    'ER': 'Eritrea',
    'ES': 'Spain',
    'ET': 'Ethiopia',
    'FI': 'Finland',
    'FJ': 'Fiji',
    'FK': 'Falkland Islands (Malvinas)',
    'FM': 'Micronesia (Federated States of)',
    'FO': 'Faroe Islands',
    'FR': 'France',
    'GA': 'Gabon',
    'GB': 'United Kingdom of Great Britain and Northern Ireland',
    'GD': 'Grenada',
    'GE': 'Georgia',
    'GF': 'French Guiana',
    'GG': 'Guernsey',
    'GH': 'Ghana',
    'GI': 'Gibraltar',
    'GL': 'Greenland',
    'GM': 'Gambia',
    'GN': 'Guinea',
    'GP': 'Guadeloupe',
    'GQ': 'Equatorial Guinea',
    'GR': 'Greece',
    'GS': 'South Georgia and the South Sandwich Islands',
    'GT': 'Guatemala',
    'GU': 'Guam',
    'GW': 'Guinea-Bissau',
    'GY': 'Guyana',
    'HK': 'Hong Kong',
    'HM': 'Heard Island and McDonald Islands',
    'HN': 'Honduras',
    'HR': 'Croatia',
    'HT': 'Haiti',
    'HU': 'Hungary',
    'ID': 'Indonesia',
    'IE': 'Ireland',
    'IL': 'Israel',
    'IM': 'Isle of Man',
    'IN': 'India',
    'IO': 'British Indian Ocean Territory',
    'IQ': 'Iraq',
    'IR': 'Iran (Islamic Republic of)',
    'IS': 'Iceland',
    'IT': 'Italy',
    'JE': 'Jersey',
    'JM': 'Jamaica',
    'JO': 'Jordan',
    'JP': 'Japan',
    'KE': 'Kenya',
    'KG': 'Kyrgyzstan',
    'KH': 'Cambodia',
    'KI': 'Kiribati',
    'KM': 'Comoros',
    'KN': 'Saint Kitts and Nevis',
    'KP': 'Korea (Democratic People\'s Republic of)',
    'KR': 'Korea (Republic of)',
    'KW': 'Kuwait',
    'KY': 'Cayman Islands',
    'KZ': 'Kazakhstan',
    'LA': 'Lao People\'s Democratic Republic',
    'LB': 'Lebanon',
    'LC': 'Saint Lucia',
    'LI': 'Liechtenstein',
    'LK': 'Sri Lanka',
    'LR': 'Liberia',
    'LS': 'Lesotho',
    'LT': 'Lithuania',
    'LU': 'Luxembourg',
    'LV': 'Latvia',
    'LY': 'Libya',
    'MA': 'Morocco',
    'MC': 'Monaco',
    'MD': 'Moldova (Republic of)',
    'ME': 'Montenegro',
    'MF': 'Saint Martin (French part)',
    'MG': 'Madagascar',
    'MH': 'Marshall Islands',
    'MK': 'North Macedonia',
    'ML': 'Mali',
    'MM': 'Myanmar',
    'MN': 'Mongolia',
    'MO': 'Macao',
    'MP': 'Northern Mariana Islands',
    'MQ': 'Martinique',
    'MR': 'Mauritania',
    'MS': 'Montserrat',
    'MT': 'Malta',
    'MU': 'Mauritius',
    'MV': 'Maldives',
    'MW': 'Malawi',
    'MX': 'Mexico',
    'MY': 'Malaysia',
    'MZ': 'Mozambique',
    'NA': 'Namibia',
    'NC': 'New Caledonia',
    'NE': 'Niger',
    'NF': 'Norfolk Island',
    'NG': 'Nigeria',
    'NI': 'Nicaragua',
    'NL': 'Netherlands',
    'NO': 'Norway',
    'NP': 'Nepal',
    'NR': 'Nauru',
    'NU': 'Niue',
    'NZ': 'New Zealand',
    'OM': 'Oman',
    'PA': 'Panama',
    'PE': 'Peru',
    'PF': 'French Polynesia',
    'PG': 'Papua New Guinea',
    'PH': 'Philippines',
    'PK': 'Pakistan',
    'PL': 'Poland',
    'PM': 'Saint Pierre and Miquelon',
    'PN': 'Pitcairn',
    'PR': 'Puerto Rico',
    'PS': 'Palestine, State of',
    'PT': 'Portugal',
    'PW': 'Palau',
    'PY': 'Paraguay',
    'QA': 'Qatar',
    'RE': 'Réunion',
    'RO': 'Romania',
    'RS': 'Serbia',
    'RU': 'Russian Federation',
    'RW': 'Rwanda',
    'SA': 'Saudi Arabia',
    'SB': 'Solomon Islands',
    'SC': 'Seychelles',
    'SD': 'Sudan',
    'SE': 'Sweden',
    'SG': 'Singapore',
    'SH': 'Saint Helena, Ascension and Tristan da Cunha',
    'SI': 'Slovenia',
    'SJ': 'Svalbard and Jan Mayen',
    'SK': 'Slovakia',
    'SL': 'Sierra Leone',
    'SM': 'San Marino',
    'SN': 'Senegal',
    'SO': 'Somalia',
    'SR': 'Suriname',
    'SS': 'South Sudan',
    'ST': 'Sao Tome and Principe',
    'SV': 'El Salvador',
    'SX': 'Sint Maarten (Dutch part)',
    'SY': 'Syrian Arab Republic',
    'SZ': 'Eswatini',
    'TC': 'Turks and Caicos Islands',
    'TD': 'Chad',
    'TF': 'French Southern Territories',
    'TG': 'Togo',
    'TH': 'Thailand',
    'TJ': 'Tajikistan',
    'TK': 'Tokelau',
    'TL': 'Timor-Leste',
    'TM': 'Turkmenistan',
    'TN': 'Tunisia',
    'TO': 'Tonga',
    'TR': 'Turkey',
    'TT': 'Trinidad and Tobago',
    'TV': 'Tuvalu',
    'TW': 'Taiwan, Province of China',
    'TZ': 'Tanzania, United Republic of',
    'UA': 'Ukraine',
    'UG': 'Uganda',
    'UM': 'United States Minor Outlying Islands',
    'US': 'United States of America',
    'UY': 'Uruguay',
    'UZ': 'Uzbekistan',
    'VA': 'Holy See',
    'VC': 'Saint Vincent and the Grenadines',
    'VE': 'Venezuela (Bolivarian Republic of)',
    'VG': 'Virgin Islands (British)',
    'VI': 'Virgin Islands (U.S.)',
    'VN': 'Viet Nam',
    'VU': 'Vanuatu',
    'WF': 'Wallis and Futuna',
    'WS': 'Samoa',
    'YE': 'Yemen',
    'YT': 'Mayotte',
    'ZA': 'South Africa',
    'ZM': 'Zambia',
    'ZW': 'Zimbabwe'
}

In [ ]:
# check all the rows with the Australia location key
data[data["location_key"] == "AU"]

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested
485984,2020-01-01,AU,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
485985,2020-01-02,AU,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
485986,2020-01-03,AU,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
485987,2020-01-04,AU,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
485988,2020-01-05,AU,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
486969,2022-09-12,AU,2305.0,6.0,0.0,54803.0,10119203.0,14432.0,0.0,78617461.0
486970,2022-09-13,AU,1801.0,25.0,0.0,5837.0,10121004.0,14457.0,0.0,78623298.0
486971,2022-09-14,AU,1871.0,1.0,0.0,11498.0,10122875.0,14458.0,0.0,78634796.0
486972,2022-09-15,AU,1796.0,17.0,0.0,4367.0,10124671.0,14475.0,0.0,78639163.0
486973,2022-09-16,AU,19737.0,135.0,0.0,7262.0,10144497.0,14610.0,0.0,78646425.0

In [ ]:
# create a new column named column and map all the rows to corresponding country,
# ... based on the location key
data["country"] = data["location_key"].map(country_mapping)

In [ ]:
# visuaize the transformmed data
data

,date,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,country
0,2020-01-01,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,Andorra
1,2020-01-02,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,Andorra
2,2020-01-03,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,Andorra
3,2020-01-04,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,Andorra
4,2020-01-05,AD,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,Andorra
...,...,...,...,...,...,...,...,...,...,...,...
12525820,2022-09-09,ZW,11.0,0.0,NaN,NaN,256870.0,5596.0,NaN,NaN,Zimbabwe
12525821,2022-09-10,ZW,18.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN,Zimbabwe
12525822,2022-09-11,ZW,0.0,0.0,NaN,NaN,256888.0,5596.0,NaN,NaN,Zimbabwe
12525823,2022-09-12,ZW,51.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN,Zimbabwe
12525824,2022-09-13,ZW,0.0,0.0,NaN,NaN,256939.0,5596.0,NaN,NaN,Zimbabwe

In [ ]:
# reordering the columns of the data to take country to the second index

# converr the columns to list
columns = data.columns.to_list()
# reorder the converted columns based on indexing
columns.insert(1, columns.pop(-1))
# map the new columns to the data, to create the reorder
data = data[columns]

In [ ]:
# take note of countries to be studied
countries = ["United States of America", "Nigeria", "South Africa", "United Kingdom of Great Britain and Northern Ireland",
             "Canada", "Australia", "New Zealand", "Germany", "France", "China",
             "Saudi Arabia", "Brazil", "Argentina"]

# check for the length of the countries above
print(len(countries))

# collect only rows that have thier country names as the countries above
poc = data[data["country"].isin(countries)]
# process the date column to datetime object for easier manipulation
poc["date"] = pd.to_datetime(poc["date"])

# check the length of all the countries in the transformed dataframe
print(len(poc["country"].unique()))

13
13

<ipython-input-9-eb6bdd8a38e3>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  poc["date"] = pd.to_datetime(poc["date"])

In [ ]:
# read vaccination data from google open health repository
vacc = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/latest/vaccinations.csv")
# process the date column to datetime object for easier manipulation
vacc["date"] = pd.to_datetime(vacc["date"])
# sort the dataframe by date and display
vacc.sort_values(by="date")

,date,location_key,new_persons_vaccinated,cumulative_persons_vaccinated,new_persons_fully_vaccinated,cumulative_persons_fully_vaccinated,new_vaccine_doses_administered,cumulative_vaccine_doses_administered,new_persons_vaccinated_pfizer,cumulative_persons_vaccinated_pfizer,...,new_persons_fully_vaccinated_janssen,cumulative_persons_fully_vaccinated_janssen,new_vaccine_doses_administered_janssen,cumulative_vaccine_doses_administered_janssen,new_persons_vaccinated_sinovac,total_persons_vaccinated_sinovac,new_persons_fully_vaccinated_sinovac,total_persons_fully_vaccinated_sinovac,new_vaccine_doses_administered_sinovac,total_vaccine_doses_administered_sinovac
1784,2021-03-14,SI_10,588.0,4012.0,511.0,2010.0,1099.0,6022.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1786,2021-03-14,SI_12,743.0,8254.0,1316.0,4747.0,2059.0,13001.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1785,2021-03-14,SI_11,1347.0,11785.0,1419.0,5575.0,2766.0,17360.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1783,2021-03-14,SI_09,2028.0,15879.0,1903.0,7681.0,3931.0,23560.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1782,2021-03-14,SI_08,3866.0,41493.0,7721.0,25237.0,11587.0,66730.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2904,2022-09-15,US_KY_21131,NaN,NaN,0.0,5238.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2905,2022-09-15,US_KY_21133,NaN,NaN,0.0,11598.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2895,2022-09-15,US_KY_21113,NaN,NaN,0.0,29658.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2557,2022-09-15,US_IL_17041,NaN,NaN,0.0,9740.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
562,2022-09-16,AU,0.0,41514738.0,0.0,21766240.0,0.0,63280978.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# read hospitality data from google open health repository
hosp = pd.read_csv("https://storage.googleapis.com/covid19-open-data/v3/hospitalizations.csv")

# Challenge #1: Inconsistent (or false) year values in the date column
# Year values was replaced with a supposed value for the inconsistent ones
hosp["date"] = hosp["date"].str.replace("0022", "2022").str.replace("0202", "2020").str.replace("1202", "2021").str.replace("0221", "2021")
# process the date column to datetime object for easier manipulation
hosp['date'] = pd.to_datetime(hosp['date'], format='%Y-%m-%d')
# sort the dataframe by date
sort_hosp = hosp.sort_values(by="date")

# collect from January, 2020 to December, 2022
# Filter the dataframe based on the date range
start_date = pd.to_datetime('2020-01-01')
end_date = pd.to_datetime('2022-12-31')

# filter the dataframe based on the values above
filtered_sort_hosp = sort_hosp[(sort_hosp['date'] >= start_date) & (sort_hosp['date'] <= end_date)]

# display filtered dataframe
filtered_sort_hosp

,date,location_key,new_hospitalized_patients,cumulative_hospitalized_patients,current_hospitalized_patients,new_intensive_care_patients,cumulative_intensive_care_patients,current_intensive_care_patients,new_ventilator_patients,cumulative_ventilator_patients,current_ventilator_patients
1159968,2020-01-01,ES_VC,2.0,2.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1709827,2020-01-01,TH,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
275845,2020-01-01,AR_S,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
112158,2020-01-01,AR_C,1.0,1.0,NaN,0.0,1.0,NaN,NaN,NaN,NaN
314164,2020-01-01,AR_W,0.0,0.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1284619,2022-09-15,JP_29,50899.0,3639063.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
368582,2022-09-16,AU_ACT,NaN,NaN,76.0,NaN,NaN,1.0,NaN,NaN,1.0
367680,2022-09-16,AU,NaN,NaN,2062.0,NaN,NaN,58.0,NaN,NaN,NaN
374005,2022-09-16,AU_VIC,NaN,NaN,198.0,NaN,NaN,9.0,NaN,NaN,NaN
369492,2022-09-16,AU_NSW,NaN,NaN,1290.0,NaN,NaN,29.0,NaN,NaN,NaN

In [ ]:
# merging the transformed epidomological data with vaccination data on the location_key columns
merged_df = (
    poc.merge(
        vacc[["date", "location_key", "new_persons_vaccinated",
              "new_persons_vaccinated_pfizer",
              "new_persons_fully_vaccinated_janssen",
              "new_persons_vaccinated_sinovac"]],
        on="location_key")
)
# display merge results
merged_df

,date_x,country,location_key,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,date_y,new_persons_vaccinated,new_persons_vaccinated_pfizer,new_persons_fully_vaccinated_janssen,new_persons_vaccinated_sinovac
0,2019-12-31,Argentina,AR,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4.0,2022-09-13,1.0,NaN,NaN,NaN
1,2020-01-01,Argentina,AR,3.0,0.0,NaN,4.0,3.0,0.0,NaN,4.0,2022-09-13,1.0,NaN,NaN,NaN
2,2020-01-02,Argentina,AR,14.0,0.0,NaN,42.0,17.0,0.0,NaN,46.0,2022-09-13,1.0,NaN,NaN,NaN
3,2020-01-03,Argentina,AR,3.0,0.0,NaN,7.0,20.0,0.0,NaN,53.0,2022-09-13,1.0,NaN,NaN,NaN
4,2020-01-04,Argentina,AR,7.0,0.0,NaN,18.0,27.0,0.0,NaN,71.0,2022-09-13,1.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12837,2022-09-09,South Africa,ZA,556.0,0.0,NaN,NaN,4014277.0,102129.0,NaN,NaN,2022-09-14,3950.0,NaN,NaN,NaN
12838,2022-09-10,South Africa,ZA,128.0,0.0,NaN,NaN,4014405.0,102129.0,NaN,NaN,2022-09-14,3950.0,NaN,NaN,NaN
12839,2022-09-11,South Africa,ZA,0.0,0.0,NaN,NaN,4014405.0,102129.0,NaN,NaN,2022-09-14,3950.0,NaN,NaN,NaN
12840,2022-09-12,South Africa,ZA,319.0,0.0,NaN,NaN,4014724.0,102129.0,NaN,NaN,2022-09-14,3950.0,NaN,NaN,NaN
12841,2022-09-13,South Africa,ZA,262.0,0.0,NaN,NaN,4014986.0,102129.0,NaN,NaN,2022-09-14,3950.0,NaN,NaN,NaN

In [ ]:
# rename columns based on generated names throughout the merge
merged_df.rename(columns={'date_x': 'date'}).merge(filtered_sort_hosp[["date", "location_key", "new_hospitalized_patients"]],
            on="date")

# ... and drop irrelevant columns
# .drop(['location_key_y'], axis=1)
# .rename(columns={'location_key_x': 'location_key'})

,date,country,location_key_x,new_confirmed,new_deceased,new_recovered,new_tested,cumulative_confirmed,cumulative_deceased,cumulative_recovered,cumulative_tested,date_y,new_persons_vaccinated,new_persons_vaccinated_pfizer,new_persons_fully_vaccinated_janssen,new_persons_vaccinated_sinovac,location_key_y,new_hospitalized_patients
0,2020-01-01,Argentina,AR,3.0,0.0,NaN,4.0,3.0,0.0,NaN,4.0,2022-09-13,1.0,NaN,NaN,NaN,ES_VC,2.0
1,2020-01-01,Argentina,AR,3.0,0.0,NaN,4.0,3.0,0.0,NaN,4.0,2022-09-13,1.0,NaN,NaN,NaN,TH,0.0
2,2020-01-01,Argentina,AR,3.0,0.0,NaN,4.0,3.0,0.0,NaN,4.0,2022-09-13,1.0,NaN,NaN,NaN,AR_S,0.0
3,2020-01-01,Argentina,AR,3.0,0.0,NaN,4.0,3.0,0.0,NaN,4.0,2022-09-13,1.0,NaN,NaN,NaN,AR_C,1.0
4,2020-01-01,Argentina,AR,3.0,0.0,NaN,4.0,3.0,0.0,NaN,4.0,2022-09-13,1.0,NaN,NaN,NaN,AR_W,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22984827,2022-09-15,France,FR,33263.0,33.0,NaN,NaN,NaN,154644.0,NaN,NaN,2022-09-14,590.0,NaN,NaN,NaN,JP_29,50899.0
22984828,2022-09-16,Australia,AU,19737.0,135.0,0.0,7262.0,10144497.0,14610.0,0.0,78646425.0,2022-09-16,0.0,NaN,NaN,NaN,AU_ACT,NaN
22984829,2022-09-16,Australia,AU,19737.0,135.0,0.0,7262.0,10144497.0,14610.0,0.0,78646425.0,2022-09-16,0.0,NaN,NaN,NaN,AU,NaN
22984830,2022-09-16,Australia,AU,19737.0,135.0,0.0,7262.0,10144497.0,14610.0,0.0,78646425.0,2022-09-16,0.0,NaN,NaN,NaN,AU_VIC,NaN
22984831,2022-09-16,Australia,AU,19737.0,135.0,0.0,7262.0,10144497.0,14610.0,0.0,78646425.0,2022-09-16,0.0,NaN,NaN,NaN,AU_NSW,NaN

In [ ]:
# check for the number of countries after the merge
len(merged_df["country"].unique())

13

In [ ]:
# group by date and country on dataframe
# this dataset will be used for further analysis
merged_df.groupby(["date_x","country"]).sum()

<ipython-input-15-f91a1bcfabc6>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  merged_df.groupby(["date_x","country"]).sum()

                      new_confirmed  new_deceased  new_recovered  new_tested  \
date_x     country
2019-12-31 Argentina            0.0           0.0            0.0         4.0
2020-01-01 Argentina            3.0           0.0            0.0         4.0
           Australia            0.0           0.0            0.0         0.0
           Brazil             380.0           0.0            0.0      1154.0
           Canada               0.0           0.0            0.0         0.0
...                             ...           ...            ...         ...
2022-09-15 Australia         1796.0          17.0            0.0      4367.0
           Brazil            9931.0          82.0         9607.0         0.0
           China            46558.0          67.0          886.0         0.0
           France           33263.0          33.0            0.0         0.0
2022-09-16 Australia        19737.0         135.0            0.0      7262.0

                      cumulative_confirmed  cumulative_deceased  \
date_x     country
2019-12-31 Argentina                   0.0                  0.0
2020-01-01 Argentina                   3.0                  0.0
           Australia                   0.0                  0.0
           Brazil                    380.0                  0.0
           Canada                      0.0                  0.0
...                                    ...                  ...
2022-09-15 Australia            10124671.0              14475.0
           Brazil               34568833.0             685203.0
           China                 6501193.0              25485.0
           France                      0.0             154644.0
2022-09-16 Australia            10144497.0              14610.0

                      cumulative_recovered  cumulative_tested  \
date_x     country
2019-12-31 Argentina                   0.0                4.0
2020-01-01 Argentina                   0.0                4.0
           Australia                   0.0                0.0
           Brazil                      0.0             1154.0
           Canada                      0.0                0.0
...                                    ...                ...
2022-09-15 Australia                   0.0         78639163.0
           Brazil               33706231.0                0.0
           China                  331569.0                0.0
           France                      0.0                0.0
2022-09-16 Australia                   0.0         78646425.0

                      new_persons_vaccinated  new_persons_vaccinated_pfizer  \
date_x     country
2019-12-31 Argentina                     1.0                            0.0
2020-01-01 Argentina                     1.0                            0.0
           Australia                     0.0                            0.0
           Brazil                        0.0                            0.0
           Canada                    15610.0                            0.0
...                                      ...                            ...
2022-09-15 Australia                     0.0                            0.0
           Brazil                        0.0                            0.0
           China                         0.0                            0.0
           France                      590.0                            0.0
2022-09-16 Australia                     0.0                            0.0

                      new_persons_fully_vaccinated_janssen  \
date_x     country
2019-12-31 Argentina                                   0.0
2020-01-01 Argentina                                   0.0
           Australia                                   0.0
           Brazil                                      0.0
           Canada                                      0.0
...                                                    ...
2022-09-15 Australia                                   0.0
           Brazil                                      0.0
           China                                       0.0
           France                                      0.0
2022-09-16 Australia                                   0.0

                      new_persons_vaccinated_sinovac
date_x     country
2019-12-31 Argentina                             0.0
2020-01-01 Argentina                             0.0
           Australia                             0.0
           Brazil                                0.0
           Canada                                0.0
...                                              ...
2022-09-15 Australia                             0.0
           Brazil                                0.0
           China                                 0.0
           France                                0.0
2022-09-16 Australia                             0.0

[12842 rows x 12 columns]